body {
    text-align: center;
}

#game_body {
    width: 900px;
    height: 100%;
    margin: 0% auto;
}

#game_field {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 200px;
    width: 200px;
    margin: 1%;
}