@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    text-align: center;
    background-color: bisque;
    font-family: 'VT323', monospace;
    font-size: 60px;
}

#game_body {
    height: 775px;
    width: 775px;;
    margin: 0% auto;
}

#game_field {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 120px;
    width: 120px;
    margin: 1%;
    border-radius: 10%;
}
